{% load humanize %} 
{% load extra %} 

{% if inputs %}
  {% for ii in inputs %}
    <tr data-symbol="{{ ii.symbol }}">
      <td><a href="/issue_offer/{{ ii.symbol }}">{{ ii.symbol }}</a></td>
      <th><a href="/issue_offer/{{ ii.symbol }}" class="btn btn-success">Offer</a></th>
      <td><a href="/offer_list/{{ ii.symbol }}">{{ ii.symbol|count_offers }}</a></td>
      <td>{{ ii.symbol|last_close }}</td>
      <td>{{ ii|percent_change }}</td>
      <td>{{ ii.bid }}</td>
      <td>{{ ii.ask }}</td>
      <td>{{ ii.high }}</td>
      <td>{{ ii.low }}</td>
      <td>{{ ii.volume|intcomma }}</td>
      <th>{{ ii.num_shares_available }}</th>
    </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan="8">Symbol not found</td>
  </tr>
{% endif %}