{% load extra %} 

{% if outputs %}
    {% for ii in outputs %}
        <tr>
            <td>{{ ii.symbol }}</td>
            <td>{{ ii.shares_max }}</td>
            <td>{{ ii.shares_min }}</td>
            <td>{{ ii.discount }}%</td>
            <td>{{ ii.ft_type }}</td>
            <td>{% if ii.ma_days %}{{ ii.ma_days }}{% else %}-{% endif %}</td>
            <td>{{ ii.min_price }}</td>
            <td>{{ ii.duration }}</td>
            <td>{% if ii.accept_counter_bids %} YES {% else %} NO {% endif %}</td>
            <td>{% if ii.accept_private_counter_offer %} YES {% else %} NO {% endif %}</td>
            <td>{{ ii|discount }}</td>
            <td>{{ ii.timestamp|date:"Y-m-d H:i:s" }}</td>
            <td class="action delete" data-id="{{ ii.id }}">
                <i class="fa fa-remove" style="font-size:24px; cursor: pointer;"></i>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="8">Symbol not found</td>
    </tr>
{% endif %}