{% extends 'base.html' %} 
{% load humanize %} 
{% load extra %} 

{% block css %}
<style type="text/css">
    .error {
        color: red;
    }

    .error ul {
        list-style-type: none;
        padding-left: 14px;        
    }

    .share-max {
        cursor: pointer;
        color: black;
        font-weight: 600;
    }

    select {
        height: 34px !important;
    }
</style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-lg-12 col-xl-10 offset-xl-1">

        <div class="row mt-3">
            <h3>Issuer - Offer Shares</h3>
        </div>
        <div class="row mt-3 error">
            {{ form.non_field_errors }}
            {{ form.errors }}
        </div>
        <div class="row mt-3">
            <div class="col">
                SYMBOL
            </div>
            <div class="col">
                ACTION
            </div>
            <div class="col">
                SHARES OFFERED&nbsp;&nbsp;
                <div title="{{ ii.num_shares_available }}" class="share-max">( Max )</div>
            </div>
            <div class="col">
                MIN TO BUY
            </div>
            <div class="col">
                DISCOUNT
            </div>
            <div class="col">
                TYPE
            </div>
            <div class="col">
                MA DAYS
            </div>
            <div class="col">
                MIN PRICE
            </div>
            <div class="col">
                DURATION
            </div>
        </div>

        <form method="post" class="issue-form">
            <div class="row">
                {% csrf_token %}
                <div class="col">
                    <input type="text" class="form-control input_symbol" name="symbol" value="{% if form.symbol.value %}{{ form.symbol.value }}{% endif %}" readonly="">
                </div>
                <div class="col">
                    SELL
                    <input type="hidden" name="action" value="SELL">
                </div>
                <div class="col">
                    <input type="number" name="shares_max" value='{% if form.shares_max.value %}{{ form.shares_max.value }}{% endif %}' class="form-control shares_max" required="" max="{{ ii.num_shares_available }}" min="0">
                </div>
                <div class="col">
                    <input type="number" name="shares_min" value='{% if form.shares_min.value %}{{ form.shares_min.value }}{% endif %}' class="form-control shares_min" required="" min="0">
                </div>
                <div class="col">
                    <select class="form-control discount" name="discount">
                        {% for ii in range_discount %}
                        <option value="{{ ii }}" {% if ii == form.discount.value %} selected {% endif %}>{{ ii }}%</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control ft-type" name="ft_type">
                        <option value="FTS" {% if form.ft_type.value == 'FTS' %} selected="" {% endif %}>FTS</option>
                        <option value="MA" {% if form.ft_type.value == 'MA' %} selected="" {% endif %}>MA</option>
                    </select>
                </div>
                <div class="col">
                    {% if form.ft_type.value != 'MA' %}
                        <select class="form-control ma_days" name="ma_days" disabled="">
                            <option value="">N/A</option>
                        </select>
                    {% else %}                
                        <select class="form-control ma_days" name="ma_days">
                            {% for ii in range_madays %}
                            <option value="{{ ii }}">{{ ii }} </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col">
                    <input type="number" step="0.01" class="form-control min_price" name="min_price" value="{{ form.min_price.value }}" min="0" required="">
                </div>
                <div class="col">
                    <select class="form-control duration" name="duration">
                        <option value="DAY" {% if form.duration.value == 'DAY' %} selected="" {% endif %}>DAY</option>
                        <option value="GTC" {% if form.duration.value == 'GTC' %} selected="" {% endif %}>GTC</option>
                    </select>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-3">
                    <input type="submit" value="Submit" class="btn btn-success btn-submit">
                </div>

                <div class="col-md-3">
                    ACCEPT COUNTER BIDS?
                </div>

                <div class="col-md-1">
                    <label class="radio-inline">
                        <input type="radio" name="accept_counter_bids" {% if form.accept_counter_bids.value %} checked="" {% endif %} value="true" class="accept_counter_bids">YES</label>
                </div>

                <div class="col-md-1">
                    <label class="radio-inline">
                        <input type="radio" name="accept_counter_bids" {% if not form.accept_counter_bids.value %} checked="" {% endif %} value="false" class="accept_counter_bids">NO</label>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-3">
                    ACCEPT PRIVATE COUNTER OFFER?
                </div>

                <div class="col-md-1">
                    <label class="radio-inline">
                        <input type="radio" name="accept_private_counter_offer" {% if form.accept_private_counter_offer.value %} checked="" {% endif %} value="true" class="accept_private_counter_offer">YES</label>
                </div>

                <div class="col-md-1">
                    <label class="radio-inline">
                        <input type="radio" name="accept_private_counter_offer" value="false" {% if not form.accept_private_counter_offer.value %} checked="" {% endif %} class="accept_private_counter_offer">NO</label>
                </div>
            </div>
        </form>

        <div class="row mt-4">
            <h5>FREE TRADING QUOTE</h5>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SYMBOL</th>
                            <th>LAST</th>
                            <th>CHANGE</th>
                            <th>BID</th>
                            <th>ASK</th>
                            <th>HIGH</th>
                            <th>LOW</th>
                            <th>VOLUME</th>
                            <th>Max Shares Available</th>                            
                        </tr>
                    </thead>
                    <tbody class="input_body">
                        <tr data-symbol="{{ ii.symbol }}">
                          <td>{{ ii.symbol }}</td>
                          <td>{{ ii.last }}</td>
                          <td>{{ ii|percent_change }}</td>
                          <td>{{ ii.bid }}</td>
                          <td>{{ ii.ask }}</td>
                          <td>{{ ii.high }}</td>
                          <td>{{ ii.low }}</td>
                          <td>{{ ii.volume|intcomma }}</td>
                          <th>{{ ii.num_shares_available }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <h3>List of Offers</h3>
        </div>

        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SYMBOL</th>
                            <th>SHARES OFFERED</th>
                            <th>MIN TO BUY</th>
                            <th>DISCOUNT</th>
                            <th>FT TYPE</th>
                            <th>MA DAYS</th>
                            <th>MIN PRICE</th>
                            <th>DURATION</th>
                            <th>COUNTER BIDS</th>
                            <th>PRIVATE OFFER</th>
                            <th>DISCOUNTED PRICE</th>
                            <th>CREATED AT</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody class="output_body">
                        {% include '_offer.html' %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" style="top: 200px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 style="color: #4DBEE2;">Do you confirm to create an offer with following information?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">        
        <div class="row"><label class="col">Symbol: </label><span class="c-symbol col"></span></div>
        <div class="row"><label class="col">SHARES OFFERED: </label><span class="c-shares_max col"></span></div>
        <div class="row"><label class="col">MIN TO BUY: </label><span class="c-shares_min col"></span></div>
        <div class="row"><label class="col">DISCOUNT: </label><span class="c-discount col"></span></div>
        <div class="row"><label class="col">TYPE: </label><span class="c-ft-type col"></span></div>
        <div class="row"><label class="col">MA DAYS : </label><span class="c-ma_days col"></span></div>
        <div class="row"><label class="col">MIN PRICE : </label><span class="c-min_price col"></span></div>
        <div class="row"><label class="col">DURATION: </label><span class="c-duration col"></span></div>
        <div class="row"><label class="col">ACCEPT COUNTER BIDS? : </label><span class="c-accept_counter_bids col"></span></div>
        <div class="row"><label class="col">ACCEPT PRIVATE COUNTER OFFER? : </label><span class="c-accept_private_counter_offer col"></span></div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-confirm" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock %} 

{% block js %}
<script type="text/javascript">
    var confirmed = false;
    $('.ft-type').change(function() {
        var ft_type = $(this).val();

        if (ft_type == 'MA') {
            $('.ma_days').html('<option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option><option value="30">30</option>');
            $('.ma_days').removeAttr('disabled');
        } else {
            $('.ma_days').html('<option value="">N/A</option>');
            $('.ma_days').attr('disabled', true);
        }        
    });

    $("body").on('click', '.action.delete', function() {
        var r = confirm("Are you sure to delete this offer?");
        if (r == true) {
            var oid = $(this).data('id');
            $.ajax({
                type: 'post',
                url: '/delete_offer',
                data: {
                    id: oid,
                },
                success: function (data) {
                    location.href = "{{ request.path }}";
                }
            });
        }
    });

    $('.shares_max').change(function() {
        $('.shares_min').attr('max', $(this).val());
    });

    $('.issue-form').submit(function(e) {
        if (!confirmed) {
            e.preventDefault();
            $('.c-symbol').html($('.input_symbol').val());
            $('.c-shares_max').html($('.shares_max').val());
            $('.c-shares_min').html($('.shares_min').val());
            $('.c-discount').html($('.discount').val()+'%');
            $('.c-ft-type').html($('.ft-type').val());
            $('.c-ma_days').html($('.ma_days').val() || "N/A");
            $('.c-duration').html($('.duration').val());
            $('.c-min_price').html($('.min_price').val());
            $('.c-accept_counter_bids').html($('.accept_counter_bids:checked').val()=="true"? "YES": "NO");
            $('.c-accept_private_counter_offer').html($('.accept_private_counter_offer:checked').val()=="true"? "YES":"NO");
            $('#confirm-modal').modal();            
        }
    });

    $('.btn-confirm').click(function() {
        confirmed = true;
        $('.issue-form').submit();
    });
</script>
{% endblock %}