{% extends 'base.html' %} 

{% block css %}
    <style type="text/css">
        .input_body tr {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-lg-12 col-xl-10 offset-xl-1 d-body">
        {% include '_stock_list.html' %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var reload = null;

    $("body").on('click', '.btn-update-value', function() {
        clearInterval(reload);
        reload = null;
        $.ajax({
            type: 'post',
            url: '/run_scraper_value',
            data: {},
            success: function (data) {
                $('.message').html('Spider for prices triggered successfully. You will see updated prices in a seconds.');
                startReload();
            }
        });
    }); 

    $("body").on('click', '.btn-download-history', function() {
        clearInterval(reload);
        reload = null;
        $.ajax({
            type: 'post',
            url: '/run_scraper_history',
            data: {},
            success: function (data) {
                $('.message').html('Spider for histories triggered successfully. You will see updated prices in a seconds.');
                startReload();
            }
        });
    }); 

    $("body").on('click', '.btn-delete', function() {
        clearInterval(reload);
        reload = null;
        var r = confirm("Are you sure to delete history?");
        if (r == true) {
            $.ajax({
                type: 'post',
                url: '/delete_history',
                data: {
                    symbol: $(this).data('symbol'),
                },
                success: function (data) {
                    alert('History deleted successfully!');
                    startReload();
                }
            });
        } else {
            startReload();
        }
    });    

    function startReload() {
        if (reload != null) return;
        reload = setInterval(function() {
            $.ajax({
                type: 'get',
                url: '{{ request.path }}',
                success: function (data) {
                    $('.d-body').html(data);
                    startReload();
                }
            });
        }, 5000);        
    }

    startReload();
</script>
{% endblock %}
